.chats__row {
    display: flex;
    justify-content: space-between;
}
.chats__row > .search {
    width: 50%;
}
.chats__buttons {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.chats__buttons:last-of-type {
    justify-content: flex-end;
}
.chats__buttons > .button__silver {
    margin-right: 10px;
    padding-right: 20px;
    padding-left: 20px;
}
