/*//////////////////////////////////////////
////////////CHAT/////////////////
////////////////////////////////////////////
 */
.chat {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 720px;
    width: 100%;
    height: 930px;
    background-color: #FFFAED;
    box-shadow: -1px 1px 6px rgba(13, 9, 3, 0.25);
    border-radius: 3px;
    z-index: 0;
    overflow-y: scroll;
}
.chat__content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    box-sizing: border-box;
    padding: 30px 40px 35px 50px;
}

.message {
    margin-bottom: 25px;
    position: relative;
    display: flex;
    padding: 20px 80px 40px 30px;
    box-sizing: border-box;
    box-shadow: -1px 1px 6px rgba(13, 9, 3, 0.25);
    border-radius: 8px;
}
.message__text {
    font-size: 18px;
    line-height: 25px;
}
.message__info {
    position: absolute;
    right: 20px;
    bottom: 10px;
    display: flex;
}
.message__status{
    max-width: 20px;
    width: 100%;
    height: 20px;
}
.message__status svg {
    width: 100%;
    height: 100%;
}
.message__status_deactive path {
    fill: #BDBDBD;
}
.message__clock {
    display: inline-block;
    margin-left: 5px;
    font-size: 16px;
    color:#BDBDBD;
}
.message__outgoing {
    background-color: #FFF7B0;
}
.message__incoming {
    background-color: #ffffff;
}
.triangle-wrap {
    position: absolute;
    display: block;
    bottom: -15px;
    max-width: 30px;
    width: 100%;
    height: 30px;
}
.triangle-wrap_message__outgoing {
    filter: drop-shadow(3px 2px 2px rgba(13, 9, 3, 0.25));
    right: -15px;
}
.triangle-wrap_message_incoming {
    filter: drop-shadow(-3px 2px 2px rgba(13, 9, 3, 0.25));
    left: -15px;
}

.triangle {
    display: block;
    width: 100%;
    height: 100%;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    z-index: -1;
}
.triangle_message__outgoing {
    transform: rotate(135deg);
    background-color: #FFF7B0;
}

.triangle_message__incoming {
    background-color: #ffffff;
    transform: rotate(-135deg);
}
.chat__input_outer {
    position: sticky;
    bottom: 0;
    max-width: 720px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #FFFAED;
    padding: 10px 0 20px 0;
}
.chat__input_inner {
    background-color: #ffffff;
    max-width: 675px;
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: -1px 1px 6px rgba(13, 9, 3, 0.25);
    border-radius: 3px;
    font-size: 20px;
}
.chat__input_image{
    width: 20px;
    height: 20px;
    position: absolute;
    left: 30px;
}
.chat__input_image svg {
    width: 100%;
    height: 100%;
}
.chat__input input {
    margin-left: 10px;
    width: 100%;
    padding: 20px 20px 20px 50px;
    border: none;
}
.chat__input input::placeholder {
    color: #BDBDBD;
}
.chat__input input:focus {
    outline: none;
}
